.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}

.progress-bar {
  padding: 0;
  opacity: 1;
  transition: opacity .65s linear;
}

.progress-bar.hide {
  opacity: 0;
  pointer-events: none;
}

.progress {
  width: 50px;
}

.feedback {
  padding: 0;
  opacity: 1;
  transition: opacity .9s linear;
}

.feedback.hide {
  opacity: 0;
  pointer-events: none;
}

.feedback-message {
  text-align: center;
  width: 100%;
}

.form-upload {
  width: 100%;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 85%;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

